  <main id="main" class="main">
<section>
    <div class="container mt-5">
        <div class="col-md-6 ">
            <h2>Add Brand</h2>
                {{#if brandExist}}
            <p style="color: red;">{{branderr}}</p>
            {{/if}}

            <form action="/admin/addBrand" method="post" id="something" enctype="multipart/form-data">
              
                <label for="">Name</label>
                <input type="text" name="brand" class="form-control" id="name">

                 <input type="file" class="" name="image" id="gallery-photo-add" >



               

                


                <button type="submit" class="btn btn-success mt-4">Submit</button>
                 <input type="button" value="Back" onclick="history.go(-1)" class="btn btn-primary "
                    style="margin-top: 25px;margin-left: 10px;">
            </form>
        </div>
    </div>
    </section>
    </main>