<style>
    .card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

</style>
<main id="main" class="main">
 <div class="row " style="justify-content: center;margin-top:100px;">
    <div class="card" style="width:900px;">
  <div class="card-body">
    <a href="/admin/brandofferManagement"><h5 class="card-title mt-3" style="text-align: center;">Brand Offer Management</h5></a>
    
  </div>
</div>


<div class="card ml-2" style="width: 900px;">
  <div class="card-body">
    <a href="/admin/couponOfferManagement"><h5 class="card-title mt-3"  style="text-align: center;">Coupon offer Management</h5></a>
   
  </div>
</div>
 </div>   
</main>