

<section>
    <div class="page-wrapper">
        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Add Address</h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            

            <div class="page-content">
                <div class="checkout">
                    <div class="container">
                        
                        <form action="/checkoutaddAddress" method="post"  onsubmit="return validation()">
                            <div class="row">
                                <div class="col-lg-9">
                                  
                                    <div class="row mt-3">
                                        <div class="col-sm-6">
                                            <label>Full Name *</label>
                                            <input type="text" class="form-control" name="fullName" id="fullName" onkeyup="validateName()" >
                                            <span id="fullNameErr" class="text-danger"></span>
                                        </div><!-- End .col-sm-6 -->

                                        
                                    </div><!-- End .row -->


                                    <label> Address *</label>
                                    <input type="text" class="form-control " cols="30" rows="4" name="address" id="address" onkeyup="validateAddress()">
                                      <span id="addressErr" class="text-danger"></span>   
                                        


                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Town / City *</label>
                                            <input type="text" class="form-control" name="town" id="town" onkeyup="valiadateTown()">
                                            <span id="townErr" class="text-danger"></span>
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>State / County *</label>
                                            <input type="text" class="form-control" name="state" id="state" onkeyup="validateState()">
                                            <span id="stateErr" class="text-danger"></span>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Postcode / ZIP *</label>
                                            <input type="text" class="form-control" name="postcode" id="postCode" onkeyup="validatePostcode()">
                                            <span id="postErr" class="text-danger"></span>
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>Phone *</label>
                                            <input type="tel" class="form-control" name="phone" id="phone" onkeyup="validatePhone()">
                                            <span id="phoneErr" class="text-danger"></span>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <label>Email address *</label>
                                    <input type="email" class="form-control" name="email">
                                    
                                    <input type="text" name="userId" id="" value="{{userId}}" hidden>
                                    

                                    

                                    <label>Order notes (optional)</label>
                                    <textarea class="form-control" cols="30" rows="4"
                                        placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                                </div><!-- End .col-lg-9 -->
                        
                            </div><!-- End .row -->
                            <button  class="btn btn-primary" type="submit" >Submit</button>
                        </form>
                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    

    <!-- Template Main JS File -->
    

</section>
<script src="/assets2/js/main.js"></script>

  <script>
  
    let nameErr=document.getElementById('fullNameErr')
    let addressErr=document.getElementById('addressErr')
    let townErr=document.getElementById('townErr')
    let stateErr=document.getElementById('stateErr')
    let postErr=document.getElementById('postErr')
    let phoneErr=document.getElementById('phoneErr')
    function validateName(){
        var fullName=document.getElementById('fullName').value
        if(fullName==""){
           
            nameErr.innerHTML='enter your name'
            return false
        }
         nameErr.innerHTML=null
         return true 
    }
    
     function validateAddress(){
        var address=document.getElementById('address').value
          if (address==''){
            addressErr.innerHTML='enter your address'
            return false
          }
          addressErr.innerHTML=null
          return true
    }

    function valiadateTown(){
        var town=document.getElementById('town').value
        if(town==""){
            townErr.innerHTML='enter your town'
            return false
        }
        townErr.innerHTML=null
        return true
    }

   function validateState(){
    var state=document.getElementById('state').value
           if(state==""){
            stateErr='enter your state'
             return false
           }
         stateErr.innerHTML=null
         return true 
   }

function validatePostcode(){
    var post=document.getElementById('post').value
    if(post==""){
        postErr='enter your postcode'
        return false
    }
    postErr.innerHTML=null
    return true
}
 
 function validatePhone(){
    var phone=document.getElementById('phone').value
    if(phone==""){
        phoneErr='enter your phone'
        return false
    }
    phoneErr.innerHTML=null
    return true
 }



 function validation() {
      
        if (!validateName() || !validateAddress() || !valiadateTown() || !validateState() || !validatePostcode()) {
            return false
        }
        return true
    }   

  </script>
